.calendar__col {
    width: 100%;
}

.calender__col_inner {
    margin: 0 5px;
    padding: 0 5px;
    border-top: 4px solid #aeb5bc;
}

.calender__col_inner_busy {
    background-color: var(--blendForeground);
}

.calendar__col_inner_head {
    font-size: 16px;
    line-height: 1.5;
    padding: 14px 0;
}

.calendar__col_inner_body {
    padding-bottom: 14px;
}
