.calendar__time {
    color: #c5cbd2;
    pointer-events: none;
    line-height: 2.14285714;
    background: 0 0;
    transition: color 50ms, background 50ms;
    border-radius: 2px;
    border: 1px solid transparent;
    display: block;
}

.calendar__time_bookable {
    pointer-events: all;
    cursor: pointer;
    color: var(--blendForeground);
}

.calendar__time_bookable:hover {
    background: 0 0;
    color: var(--blendForeground);
    border-color: var(--blendForeground);
}

.call_to_action__wrap {
    position: relative;
}

.call_to_action__wrap:hover {
    /* transform: translate3d(-50%, 0, 0); */
    position: relative;
    opacity: 1;
    pointer-events: all;
    right: auto;
    opacity: 1;
}

.call_to_action {
    width: auto;
    right: auto;
    margin: 0 0 8px;
    left: 50%;
    white-space: nowrap;
    transform: translate3d(-50%, -10px, 0);

    display: block;
    text-align: left;
    cursor: default;
    right: -9999px;
    color: #fff;
    font-size: 12px;
    line-height: 1.16666667;
    font-weight: 400;
    position: absolute;
    width: 180px;
    padding: 8px 10px;
    background-color: rgba(56, 64, 71, 0.92);
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    z-index: 8;
    bottom: 100%;
    left: 50%;
    margin-right: 0;
    margin-left: -90px;
    margin-bottom: 8px;
    margin-top: 0;
    word-break: normal;
    transition: transform, opacity, 0.2s;
    transform: translate3d(0, -10px, 0);
    opacity: 0;
    pointer-events: none;
}
