:root {
    --color-primary: #7ae2f0;
    --color-primary-text: #003147;
    --color-secondary: #121258;
}

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
